<div class="card mb-3">
  <div class="profile-background"><img [src]="myPortfolio.backImage"></div>
  <div style="padding:16px">
      <div class="card-content" style="padding:16px">
        <div class="card-text">
          <h5>{{myPortfolio.company.name}}</h5>
          <h5>{{myPortfolio.school.name}}</h5>
        </div>
      </div>
    <div class="row g-5">
      <div class="col-md-4">
      <div id="info-img">
        <img class="profile-image"[src]="myPortfolio.image">
      </div>
      <div class="mat-card">
        <h1>{{myPortfolio.name}}</h1>
      </div>
      <div id="info-data">
        <div style="font-weight: bold">{{myPortfolio.position}}</div>
        <span>{{myPortfolio.ubication}}</span><a href="">información de contacto</a>
      </div>
    </div>
  </div>
    <div class="card-actions">
      <button type="button" class="btn btn-primary">Tengo interés en</button>
        <button type="button" class="btn btn-light">Añadir sección</button>
        <button type="button" class="btn btn-light">Más</button>
      </div>
  </div>
</div>
  