<div class="card mb-3" style="padding:16px">
  <div class="row g-5">
    <div class="col-md-4">
      <div id="profile-background"><img src=""></div>
      <div id="info-img">
        <img class="profile-image"src="">
      </div>
      <div class="mat-card">
        <h1>{{myPortfolio.name}}</h1>
      </div>
      <div id="info-data">
        <div id="info-company">{{myPortfolio.position}}</div>
        <span>Buenos Aires(Argentina)</span>
        <span><a href="#"> {{myPortfolio.ubicacion}} </a></span>
      </div>
      
      
    </div>
    <div class="col-md-8">
      <div class="card-content">
        <div class="card-text">
          <h5>CONICET</h5>
          <h5>Universidad de Buenos Aires</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="card-actions">
    <button type="button" class="btn btn-primary">Tengo interés en</button>
    <button type="button" class="btn btn-light">Añadir sección</button>
    <button type="button" class="btn btn-light">Más</button>
  </div>
  