<div>
    <div class="card mat-card"id="second card">
        <div id="info"style="padding:16px">
            <div class="card-actions" >
                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!editmode" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"
                (click)="edit()"
                >
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"
                style="margin-right: 10px;"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseBasic"
                
                (click)="scrollToElement(target)"
                >
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>

            </div>

            <div class="card-title">
                <h1>Logros</h1>
            </div>
    
             <h2>{{this.logContent.length}} Proyectos</h2>  


            <div id="collapseBasic" [collapse]="isCollapsed" #target>
                <div class="well well-lg card card-block card-header">
                
                <div style="padding:16px">
                    
                    <h2 for="exampleFormControlInput1" class="form-label">Añadir proyecto</h2>
                    <input type="text" [(ngModel)]="editText"  class="form-control" id="exampleFormControlInput1" placeholder="Titulo de proyecto">
                    
                    <button type="button" class="btn btn-light" (click)="save_new()">Save</button>
                </div>
                </div>
            </div>
            <div *ngFor="let logro of this.logContent">
                <div class="card-text">
         

                    <svg xmlns="http://www.w3.org/2000/svg" *ngIf="editmode" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"
                    (click)="editValue(logro)"
                    >
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" *ngIf="editmode" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"
                    (click)="deletelog(logro)"
                    >
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                      
                      <li  *ngIf="!editval"  type="text">{{logro}}</li>
                    </div>
                </div>
                <input  class="set-width" [(ngModel)]="editvalue"  *ngIf="editval" type="text" placeholder="{{editvalue}}"><br>
                
                <button *ngIf="editval" (click)="save()" class="btn btn-primary" >save</button>
                <button *ngIf="editval" (click)="cancel()" class="btn btn-light">cancel</button>
          

            </div>     
        </div>
</div>